# dependencies
node_modules/

# Next.js build output
.next/
out/

# test coverage
coverage/

# TypeScript incremental build info
tsconfig.tsbuildinfo

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.pem

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
